.aside_container {
  width: 10%;
  height: 100vh;
  background-color: var(--blue-color-cielo);
  padding: 2rem;
}

.aside_container ul {
  width: 100%;

  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.aside_container li {
   
    padding: 1rem;
    width: 100%;
  }

.navbar {
  width: 100%;
  height: 70px;
  background-color: var(--blue-color-cielo);
}

.fondochildren{
    width: 100vw;
    height: 100%;
     background-color: #b5ffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
