@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


@layer base {
  :root {
    --blue-color-cielo:#2bc2e5;
  --bue-oscuro-fuerte:#0b2f41;
  --color-neutro-blanco:#edfcfe
  }
}
button{
  @apply bg-red-500 px-4 py-2 rounded-md hover:bg-red-900 w-max

}

input{
  @apply w-[500px] p-2 rounded-md bg-slate-300 text-slate-800  outline-none focus:bg-slate-500 transition-colors duration-500
}



select{
  @apply  w-[500px] p-2 rounded-md bg-slate-300 text-slate-800  outline-none focus:bg-slate-500 transition-colors duration-500
}

h1{
  @apply text-4xl text-slate-900 font-bold
}




@media(width<600px){
  input{
    @apply w-[300px] p-2 rounded-md bg-slate-300 text-slate-800  outline-none focus:bg-slate-500 transition-colors duration-500
  }
}

.menu_hamburguesa {
  position: absolute;
  top:0;
  font-size: 54px;
  padding: 10px;
  cursor: pointer;
  display: none;
}
@media (width < 600px) {
  .menu_hamburguesa {
    display: block;
    z-index: 900;
  }


  .menu_nav{
    width:100%;
    height: 100vh;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    background-color: rgb(244, 247, 244);
    transform: translateX(-800px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    transition:.5s ease;
    
    
  }
  span{
    font-size: 40px;
   

  }

  .menu_nav li{
    display: flex;
    flex-direction: column;
  }

   .active {
    width:100%;
    height: 100vh;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    transform: translateX(0px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
