@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


@layer base {
  :root {
    --blue-color-cielo:#2bc2e5;
  --bue-oscuro-fuerte:#0b2f41;
  --color-neutro-blanco:#edfcfe
  }
}
